@charset "UTF-8";

body {
	background-color: #121212; 
	color: #F8EEE1;
}
body > table {
	width: 100%; 
	height: 100%; 
	min-width: 1200px;
}

a{
	color: #F8EEE1;
}
a:hover{
	text-decoration: none;
	color: #F8EEE1;
}
hr {
	border-color: #F8EEE180; 
}
pre{
	color: #F8EEE1;
}
textarea {
	height: 57px;
	width: 77%;	
	min-width: 230px;
	margin-left: 1.5px;
    border: none;
}
textarea:focus {
    outline: none;
}
.btn-light {
	vertical-align: top;
    height: 57px;
    min-width: 65px;
    width: 22%;	
	margin-left: -4.4px; 
	border-top-left-radius: initial; 
	border-bottom-left-radius: initial;
}
.collapse textarea {
    min-width: 210px;
    width: 75%;	
}
.qnatable {
	width: 100%;
}
.qnatable td {
	text-align: right;
}
.qnatable p {
	text-align: left;
	color: #F8EEE1;
}
.qnatable p:first-child {
	color: white;
}
.btn-dark {
	margin: 0 20px;
}
#navbar{
	height: 50px;
	border-bottom: 1px solid #F8EEE180;
}
#tbody tr td{
	padding-left: 20px;
}
#pagination {
	text-align: center;
	margin-bottom: 20px;
}
#pagination a {
	color: gray;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #F8EEE1;
    border-color: #F8EEE1;
}
.nav-tabs .nav-link:hover {
	border-color: #F8EEE1;
}
.list-group-item.active {
	background-color: #F8EEE1;
	border-color: #F8EEE1;
}
.list-group-item.active a {
	color: #495057;
}
.list-group-item {
	background-color: #262626;
}
.list-group-item:first-child{
	border-top-left-radius: initial;
	border-top-right-radius: initial;
}